@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  font-family: Montserrat, sans-serif;
}

#swiper-color .swiper-button-next {
  color: #00df9a;
}

#swiper-color .swiper-button-prev {
  color: #00df9a;
}
